<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="from-group">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title, class: 'form-control' %>
  </div>

  <div class="from-group">
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="from-group">
    <%= form.label :topic_ids, 'Topic', style: "display: block" %>
    <%= form.select :topic_ids, options_for_select(Topic.all.pluck(:title, :id), form.object.topic_ids), {}, multiple: true, class: 'form-control' %>
  </div>



  <div class="from-group">
    <%= form.hidden_field :user_id, value: current_user.id, class: 'form-control' %>
  </div>

  <div class="from-group">
    <%= form.submit %>
  </div>
<% end %>
